.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.main {
  padding: 20px;
  margin-bottom: 50px;
}

.inputForm{
  padding: 20px;
}

.imageGrid {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
.imageGrid:hover {
  background-color: #61dafb;
  z-index: 12;
  transform: scale(1.1);
  aspect-ratio: 1 / 1;
  transition: all .3s ease;
}

.imageGrid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.imageGrid span {
  display: block;
  text-align: center;
  color: #333;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}


.wallet-btn {
  height: 38px;
}